.wp-block-quote {
	border-left: 4px solid;
	border-color: var(--wp--preset--color--text-accent);
	padding-left: var(--wp--preset--spacing--6);

	cite {
		display: block;
		padding-top: var(--wp--preset--spacing--2);
	}
}
