// Social Icon List
.social-links-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.wp-block-categories-list,
.menu-social-container ul,
.social-nav ul {
	margin: 0;
	padding: 0;

}

.social-links-menu li {
	padding-right: var(--wp--preset--spacing--4);

	&:last-child {
		padding-right: 0;
	}
}

.menu-social-container ul {

	li {
		a {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			line-height: 1;
			margin: 0;
			overflow: hidden;
		}

		&.icon-large {
			a {
				width: var(--wp--preset--spacing--8);
				height: var(--wp--preset--spacing--8);
			}
		}
	}
}
