:root {

	/* Base theme colors (not customizable via global styles) */
	--global--color--notification-bg: #CEF0F8;
	--global--color--notification-border: #75D7F0;
	--global--color--success-bg: #CFF7D3;
	--global--color--success-border: #85E0A3;
	--global--color--danger-bg: #FFE2E0;
	--global--color--danger-border: #FFAFA3;
	--global--color--warning-bg: #FFF1C2;
	--global--color--warning-border: #FFD966;
	--global--color--variant-notification: #0087A8;
	--global--color--variant-notification-background: #D8F4FA;
	--global--color--variant-success: #198F51;
	--global--color--variant-success-background: #BEEFC2;
	--global--color--variant-error: #E03E1A;
	--global--color--variant-error-background: #FCCDCA;
}