.mobile-hide {
	display: none !important;
}

@include breakpoint(md) {

	.tablet-hide {
		display: none !important;
	}

	.tablet-show {
		display: block !important;
	}

	.tablet-flex {
		display: flex;
	}

	.justify-between {
		justify-content: space-between;
	}
}

@include breakpoint(lg) {

	.desktop-hide {
		display: none !important;
	}

	.desktop-show {
		display: block !important;
	}

	.desktop-flex {
		display: flex;
	}
}

.no-hyphens {
	hyphens: none !important;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.top-fullwidth {
	top: 0;
	left: 0;
	right: 0;
}

.bottom-fullwidth {
	bottom: 0;
	left: 0;
	right: 0;
}

.zindex100 {
	z-index: 100;
}

.zindex1000 {
	z-index: 1000;
}

.display-block {
	display: block !important;
}

.display-flex {
	display: flex !important;
}

.display-inline {
	display: inline !important;
}

.height-100 {
	height: 100%;
}

.width-100 {
	width: 100%;
}

@media only screen and (max-width: 48em) {

	.mobile-hide {
		&__border-left {
			border-left-width: 0 !important;
		}
	}

	.mobile-hide {
		&__padding-left {
			padding-left: 0 !important;
		}
	}
}

@media only screen and (max-width: 64em) {

	.mobile-justify-right {
		justify-content: flex-end !important;
	}
}

@include breakpoint(md) {

	.tablet-show {
		&__border-left {
			border-left-width: 1px !important;
		}
	}

	.tablet-flex-row,
	.tablet-flex-row ul {
		flex-direction: row !important;
	}
}

.badge-popular {right: 0 !important; top: -20px !important;}

.is-grid {
	display: grid;
}

/* Centered elements */
.push-center,
.center {
	@include push--auto;
}

/* Typography */
.justify {
	text-align: justify;
}
