<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|12"}}},"className":"pb__17 alignwide site-content content-gap btn-rounded form-rounded","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group pb__17 alignwide site-content content-gap btn-rounded form-rounded" style="padding-top:var(--wp--preset--spacing--12);padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:heading {"level":1,"style":{"typography":{"lineHeight":"1"},"spacing":{"padding":{"bottom":"var:preset|spacing|6"}}},"textColor":"font-primary","className":"has-text-align-center pb__6 has-font-primary-color has-text-color has-text-xxxl-font-size","fontSize":"text-7-xl"} -->
	<h1 class="has-text-align-center pb__6 has-font-primary-color has-text-color has-text-xxxl-font-size has-text-7-xl-font-size" style="padding-bottom:var(--wp--preset--spacing--6);line-height:1">404</h1>
	<!-- /wp:heading -->
	
	<!-- wp:separator {"backgroundColor":"border-secondary"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background"/>
	<!-- /wp:separator -->
	
	<!-- wp:heading {"textAlign":"center","style":{"typography":{"letterSpacing":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|6"}}},"textColor":"font-primary","fontSize":"text-xxxl"} -->
	<h2 class="has-text-align-center has-font-primary-color has-text-color has-text-xxxl-font-size" style="padding-top:var(--wp--preset--spacing--6);letter-spacing:0px">Page not found</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|2","bottom":"var:preset|spacing|6"}}},"textColor":"font-tertiary","fontSize":"text-m"} -->
	<p class="has-text-align-center has-font-tertiary-color has-text-color has-text-m-font-size" style="padding-top:var(--wp--preset--spacing--2);padding-bottom:var(--wp--preset--spacing--6)">Please check URL in the address bar and try again.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:ainoblocks/multiple-buttons {"align":"center"} -->
	<div class="wp-block-ainoblocks-multiple-buttons aligncenter"><!-- wp:ainoblocks/button {"size":"size__l","borderRadius":12,"label":"Go back home","className":"is-style-primary"} -->
	<div class="wp-block-ainoblocks-button is-style-primary" style="border-radius:12px"><a class="wp-block-ainoblocks-button__link size__l 12" href="/" style="border-radius:12px">Go back home</a></div>
	<!-- /wp:ainoblocks/button --></div>
	<!-- /wp:ainoblocks/multiple-buttons --></div>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->