<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|14"}}},"className":"alignwide site-content btn-rounded form-rounded","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide site-content content-gap btn-rounded form-rounded" style="padding-top:var(--wp--preset--spacing--12);padding-bottom:var(--wp--preset--spacing--14)">
	<!-- wp:pattern {"slug":"moog/hidden-404"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
