<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|14","left":"var:preset|spacing|9","right":"var:preset|spacing|9"}}},"className":"site-main","layout":{"type":"default"}} -->
<main class="wp-block-group site-main" style="padding-top:var(--wp--preset--spacing--12);padding-right:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--14);padding-left:var(--wp--preset--spacing--9)"><!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|12"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:query-title {"type":"archive","level":2,"className":"archive-title"} /-->
	
	<!-- wp:term-description {"style":{"spacing":{"padding":{"top":"var:preset|spacing|3"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"text-xxs"} /--></div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"moog/posts-columns-masonry"} /-->
	</main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
