<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|14","bottom":"var:preset|spacing|14","left":"var:preset|spacing|9","right":"var:preset|spacing|9"}}},"className":"site-main","layout":{"type":"default"}} -->
<main class="wp-block-group site-main" style="padding-top:var(--wp--preset--spacing--14);padding-right:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--14);padding-left:var(--wp--preset--spacing--9)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|default","bottom":"var:preset|spacing|12","left":"var:preset|spacing|default"}}},"className":"site-content","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide site-content" style="padding-right:var(--wp--preset--spacing--default);padding-bottom:var(--wp--preset--spacing--12);padding-left:var(--wp--preset--spacing--default)"><!-- wp:heading {"fontSize":"text-4-xl"} -->
	<h2 class="wp-block-heading has-text-4-xl-font-size">Hello fellow art lover!</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"fontSize":"text-xl"} -->
	<p class="has-text-xl-font-size">Moog Magazine is a worldwide destination for art and culture.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"moog/posts-columns-masonry"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
