<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"site-content","paddingTop":10,"paddingBottom":10} -->
<div class="wp-block-group site-content pt__10 pb__10">
<!-- wp:group {"className":"entry-header","paddingBottom":10,"layout":{"type":"constrained"}} -->
<div class="wp-block-group entry-header pb__10">
<!-- wp:post-title {"fontSize":"text-xxxl"} /--></div>
<!-- /wp:group -->
<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->