<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"47.5rem"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"font-tertiary","fontSize":"text-m"} /-->
	
	<!-- wp:post-title {"level":1,"align":"wide","style":{"typography":{"lineHeight":"1.1"},"spacing":{"padding":{"top":"var:preset|spacing|6"}}},"textColor":"font-primary"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:ainoblocks/flexbox {"flexDirectionMobile":"direction__col__m","alignItemsDesktop":"align-items__center__d","alignItemsTablet":"align-items__center__t","alignItemsMobile":"align-items__flexstart__m","alignContentDesktop":"align-cont__flexstart__d","alignContentTablet":"align-cont__flexstart__t","alignContentMobile":"align-cont__flexstart__m","className":"post-meta","paddingTop":8,"paddingBottom":7} -->
	<div class="wp-block-ainoblocks-flexbox direction__row__d direction__row__t direction__col__m nowrap__d nowrap_t nowrap_m justify__flexstart__d justify__flexstart__t justify__flexstart__m align-items__center__d align-items__center__t align-items__flexstart__m align-cont__flexstart__d align-cont__flexstart__t align-cont__flexstart__m shadow-none post-meta pt__8 pb__7"><!-- wp:ainoblocks/flex-item {"style":{"spacing":{"padding":{"right":"var:preset|spacing|3"}}},"paddingTop":1,"paddingRight":1} -->
	<div class="wp-block-ainoblocks-flex-item auto pt__1 pr__1" style="padding-right:var(--wp--preset--spacing--3)"><!-- wp:post-author {"showBio":false,"byline":"By ","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"font-primary","fontSize":"text-xs"} /--></div>
	<!-- /wp:ainoblocks/flex-item -->
	
	<!-- wp:paragraph {"textColor":"font-tertiary"} -->
	<p class="has-font-tertiary-color has-text-color">•</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:ainoblocks/flex-item {"alignSelfDesktop":"align__auto__d","style":{"spacing":{"padding":{"left":"var:preset|spacing|3"}}},"paddingTop":1,"paddingLeft":1} -->
	<div class="wp-block-ainoblocks-flex-item align__auto__d auto pt__1 pl__1" style="padding-left:var(--wp--preset--spacing--3)"><!-- wp:post-date {"textColor":"font-tertiary","fontSize":"text-xs"} /--></div>
	<!-- /wp:ainoblocks/flex-item --></div>
	<!-- /wp:ainoblocks/flexbox -->
	
	<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|9"}}},"backgroundColor":"border-secondary","className":"is-style-default"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background is-style-default" style="margin-bottom:var(--wp--preset--spacing--9)"/>
	<!-- /wp:separator -->
	
	<!-- wp:post-content {"className":"post-content content-gap","layout":{"type":"default"},"fontSize":"text-m"} /-->
	
	<!-- wp:ainoblocks/flexbox {"flexDirectionMobile":"direction__col__m","alignItemsDesktop":"align-items__center__d","alignItemsTablet":"align-items__center__t","alignItemsMobile":"align-items__flexstart__m","alignContentDesktop":"align-cont__flexstart__d","alignContentTablet":"align-cont__flexstart__t","alignContentMobile":"align-cont__flexstart__m","className":"post-meta","paddingTop":10,"paddingBottom":10} -->
	<div class="wp-block-ainoblocks-flexbox direction__row__d direction__row__t direction__col__m nowrap__d nowrap_t nowrap_m justify__flexstart__d justify__flexstart__t justify__flexstart__m align-items__center__d align-items__center__t align-items__flexstart__m align-cont__flexstart__d align-cont__flexstart__t align-cont__flexstart__m shadow-none post-meta pt__10 pb__10"><!-- wp:ainoblocks/flex-item {"style":{"spacing":{"padding":{"right":"var:preset|spacing|3"}}},"paddingTop":1,"paddingRight":1} -->
	<div class="wp-block-ainoblocks-flex-item auto pt__1 pr__1" style="padding-right:var(--wp--preset--spacing--3)"><!-- wp:post-author {"showBio":false,"byline":"By ","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"font-primary","fontSize":"text-xs"} /--></div>
	<!-- /wp:ainoblocks/flex-item --></div>
	<!-- /wp:ainoblocks/flexbox -->
	
	<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|6"}}},"backgroundColor":"border-secondary","className":"is-style-default"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background is-style-default" style="margin-bottom:var(--wp--preset--spacing--6)"/>
	<!-- /wp:separator -->
	
	<!-- wp:post-terms {"term":"category","textColor":"font-tertiary","className":"is-style-btn-outline"} /-->
	
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|12"},"blockGap":"0"}},"className":"btn-rounded form-rounded","layout":{"type":"default"},"paddingTop":1,"paddingBottom":1} -->
	<div class="wp-block-group btn-rounded form-rounded pt__1 pb__1" style="padding-top:var(--wp--preset--spacing--12);padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:comments {"textColor":"font-secondary","className":"wp-block-comments-query-loop "} -->
	<div class="wp-block-comments wp-block-comments-query-loop has-font-secondary-color has-text-color"><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|10"}}},"textColor":"font-primary","fontSize":"text-xxl"} -->
	<h2 class="has-font-primary-color has-text-color has-text-xxl-font-size" id="comments" style="padding-bottom:var(--wp--preset--spacing--10)">Comments</h2>
	<!-- /wp:heading -->
	
	<!-- wp:comment-template -->
	<!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"0"}}}} -->
	<div class="wp-block-columns" style="margin-bottom:0"><!-- wp:column {"style":{"spacing":{"blockGap":"0"}}} -->
	<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|3","top":"var:preset|spacing|8"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--8);padding-bottom:var(--wp--preset--spacing--3)"><!-- wp:ainoblocks/flexbox {"alignItemsDesktop":"align-items__center__d","alignItemsTablet":"align-items__center__t","alignItemsMobile":"align-items__center__m","alignContentDesktop":"align-cont__flexstart__d","alignContentTablet":"align-cont__flexstart__t","alignContentMobile":"align-cont__flexstart__m","className":"post-meta","paddingTop":1,"paddingBottom":1} -->
	<div class="wp-block-ainoblocks-flexbox direction__row__d direction__row__t direction__row__m nowrap__d nowrap_t nowrap_m justify__flexstart__d justify__flexstart__t justify__flexstart__m align-items__center__d align-items__center__t align-items__center__m align-cont__flexstart__d align-cont__flexstart__t align-cont__flexstart__m shadow-none post-meta pt__1 pb__1"><!-- wp:ainoblocks/flex-item {"style":{"spacing":{"padding":{"right":"12px"}}},"paddingTop":1,"paddingRight":1} -->
	<div class="wp-block-ainoblocks-flex-item auto pt__1 pr__1" style="padding-right:12px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"100px"}}} /--></div>
	<!-- /wp:ainoblocks/flex-item -->
	
	<!-- wp:ainoblocks/flex-item {"style":{"spacing":{"padding":{"right":"var:preset|spacing|3"}}},"paddingTop":1,"paddingRight":1} -->
	<div class="wp-block-ainoblocks-flex-item auto pt__1 pr__1" style="padding-right:var(--wp--preset--spacing--3)"><!-- wp:comment-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"font-primary"} /--></div>
	<!-- /wp:ainoblocks/flex-item -->
	
	<!-- wp:paragraph {"textColor":"font-tertiary","className":"mobile-hide tablet-show"} -->
	<p class="mobile-hide tablet-show has-font-tertiary-color has-text-color">•</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:ainoblocks/flex-item {"alignSelfDesktop":"align__auto__d","style":{"spacing":{"padding":{"left":"var:preset|spacing|3"}}},"className":"mobile-hide tablet-show","paddingTop":1,"paddingLeft":1} -->
	<div class="wp-block-ainoblocks-flex-item align__auto__d auto mobile-hide tablet-show pt__1 pl__1" style="padding-left:var(--wp--preset--spacing--3)"><!-- wp:comment-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|font-tertiary"}}}},"textColor":"font-tertiary","fontSize":"text-xs"} /--></div>
	<!-- /wp:ainoblocks/flex-item -->
	
	<!-- wp:ainoblocks/flex-item {"alignSelfDesktop":"align__auto__d","style":{"spacing":{"padding":{"left":"var:preset|spacing|3"}}},"className":"mobile-hide tablet-show","paddingTop":1,"paddingLeft":1} -->
	<div class="wp-block-ainoblocks-flex-item align__auto__d auto mobile-hide tablet-show pt__1 pl__1" style="padding-left:var(--wp--preset--spacing--3)"><!-- wp:comment-edit-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|font-tertiary"}}}},"fontSize":"text-xs","textColor":"font-tertiary"} /--></div>
	<!-- /wp:ainoblocks/flex-item --></div>
	<!-- /wp:ainoblocks/flexbox -->
	
	<!-- wp:group {"style":{"border":{"left":{"color":"var:preset|color|border-secondary","width":"1px"}},"spacing":{"padding":{"top":"1px","bottom":"1px"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="border-left-color:var(--wp--preset--color--border-secondary);border-left-width:1px;padding-top:1px;padding-bottom:1px"><!-- wp:comment-reply-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|font-tertiary"}}},"spacing":{"padding":{"left":"var:preset|spacing|6"}}},"fontSize":"text-xs","textColor":"font-tertiary"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"left":"52px"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-left:52px"><!-- wp:comment-content {"textColor":"font-secondary","fontSize":"text-xs"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|7"}}},"backgroundColor":"border-secondary"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background" style="margin-top:var(--wp--preset--spacing--7)"/>
	<!-- /wp:separator --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	<!-- /wp:comment-template -->
	
	<!-- wp:post-comments-form {"textColor":"font-secondary","fontSize":"text-s"} /--></div>
	<!-- /wp:comments --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|12"}}},"backgroundColor":"background-secondary","className":"related-posts-wrap","layout":{"inherit":true,"type":"constrained","contentSize":"47.5rem"},"paddingTop":1,"paddingBottom":1} -->
	<div class="wp-block-group related-posts-wrap has-background-secondary-background-color has-background pt__1 pb__1" style="padding-top:var(--wp--preset--spacing--12);padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"flex","columns":3},"align":"wide","textColor":"font-tertiary","className":"gap-l"} -->
	<div class="wp-block-query alignwide gap-l has-font-tertiary-color has-text-color"><!-- wp:heading {"level":3,"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|7"}}},"textColor":"font-primary","fontSize":"text-xxl","paddingBottom":1} -->
	<h3 class="has-font-primary-color has-text-color has-text-xxl-font-size pb__1" id="more-blog-posts" style="padding-bottom:var(--wp--preset--spacing--7)">Read more</h3>
	<!-- /wp:heading -->
	
	<!-- wp:post-template {"className":"gap-m"} -->
	<!-- wp:post-featured-image {"isLink":true,"className":"is-style-shadow-a br-all__m"} /-->
	
	<!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|font-primary"}}},"spacing":{"padding":{"top":"var:preset|spacing|4","bottom":"var:preset|spacing|2"}}},"textColor":"font-primary","fontSize":"text-m"} /-->
	
	<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|font-tertiary"}}}},"textColor":"font-tertiary","fontSize":"text-xs"} /-->
	<!-- /wp:post-template --></div>
	<!-- /wp:query --></div>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->