<!-- wp:template-part {"slug":"header","theme":"moog","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|12","right":"var:preset|spacing|9","bottom":"var:preset|spacing|12","left":"var:preset|spacing|9"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--12);padding-right:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--12);padding-left:var(--wp--preset--spacing--9)"><!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"font-secondary","fontSize":"text-xxs"} /-->

	<!-- wp:post-title {"level":1,"style":{"typography":{"lineHeight":"1.1","letterSpacing":"-3.25px"},"spacing":{"padding":{"top":"var:preset|spacing|6","right":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"textColor":"font-primary","fontSize":"text-5-xl"} /-->
	
	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"var:preset|spacing|12"}}},"className":"br-all__xl"} /-->
	
	<!-- wp:ainoblocks/flexbox {"flexDirectionMobile":"direction__col__m","alignItemsDesktop":"align-items__center__d","alignItemsTablet":"align-items__center__t","alignItemsMobile":"align-items__flexstart__m","alignContentDesktop":"align-cont__flexstart__d","alignContentTablet":"align-cont__flexstart__t","alignContentMobile":"align-cont__flexstart__m","className":"post-meta","paddingTop":8,"paddingBottom":7} -->
	<div class="wp-block-ainoblocks-flexbox direction__row__d direction__row__t direction__col__m nowrap__d nowrap_t nowrap_m justify__flexstart__d justify__flexstart__t justify__flexstart__m align-items__center__d align-items__center__t align-items__flexstart__m align-cont__flexstart__d align-cont__flexstart__t align-cont__flexstart__m shadow-none post-meta pt__8 pb__7"><!-- wp:post-author {"showBio":false,"byline":"by ","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"font-secondary","fontSize":"text-xxs"} /--></div>
	<!-- /wp:ainoblocks/flexbox -->
	
	<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|9"}}},"backgroundColor":"border-secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background is-style-wide" style="margin-bottom:var(--wp--preset--spacing--9)"/>
	<!-- /wp:separator -->
	
	<!-- wp:post-content {"className":"post-content","layout":{"type":"constrained"},"fontSize":"text-m"} /-->
	
	<!-- wp:ainoblocks/flexbox {"flexDirectionMobile":"direction__col__m","alignItemsDesktop":"align-items__center__d","alignItemsTablet":"align-items__center__t","alignItemsMobile":"align-items__flexstart__m","alignContentDesktop":"align-cont__flexstart__d","alignContentTablet":"align-cont__flexstart__t","alignContentMobile":"align-cont__flexstart__m","className":"post-meta","paddingTop":10,"paddingBottom":10} -->
	<div class="wp-block-ainoblocks-flexbox direction__row__d direction__row__t direction__col__m nowrap__d nowrap_t nowrap_m justify__flexstart__d justify__flexstart__t justify__flexstart__m align-items__center__d align-items__center__t align-items__flexstart__m align-cont__flexstart__d align-cont__flexstart__t align-cont__flexstart__m shadow-none post-meta pt__10 pb__10"><!-- wp:ainoblocks/flex-item {"style":{"spacing":{"padding":{"right":"var:preset|spacing|3"}}},"paddingTop":1,"paddingRight":1} -->
	<div class="wp-block-ainoblocks-flex-item auto pt__1 pr__1" style="padding-right:var(--wp--preset--spacing--3)"><!-- wp:post-author {"showBio":false,"byline":"By ","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"font-primary","fontSize":"text-xxs"} /--></div>
	<!-- /wp:ainoblocks/flex-item --></div>
	<!-- /wp:ainoblocks/flexbox -->
	
	<!-- wp:post-terms {"term":"category","separator":"","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"font-secondary","fontSize":"text-xxs"} /-->
	
	<!-- wp:post-terms {"term":"post_tag","style":{"spacing":{"padding":{"top":"var:preset|spacing|2","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"textColor":"font-secondary","fontSize":"text-xxs"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|9","bottom":"var:preset|spacing|9"},"blockGap":"0"}},"className":"btn-round form-rounded","layout":{"type":"constrained"}} -->
	<div class="wp-block-group btn-round form-rounded" style="padding-top:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--9)"><!-- wp:comments {"textColor":"font-secondary","className":"wp-block-comments-query-loop "} -->
	<div class="wp-block-comments wp-block-comments-query-loop has-font-secondary-color has-text-color"><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|6"}},"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"-1.5px"}},"textColor":"font-primary","fontSize":"text-xl"} -->
	<h2 class="wp-block-heading has-font-primary-color has-text-color has-text-xl-font-size" id="comments" style="padding-bottom:var(--wp--preset--spacing--6);font-style:normal;font-weight:600;letter-spacing:-1.5px">Comments</h2>
	<!-- /wp:heading -->
	
	<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|9"}}},"backgroundColor":"border-secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background is-style-wide" style="margin-bottom:var(--wp--preset--spacing--9)"/>
	<!-- /wp:separator -->
	
	<!-- wp:comment-template {"fontSize":"text-xxs"} -->
	<!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|6"}}}} -->
	<div class="wp-block-columns" style="margin-bottom:var(--wp--preset--spacing--6)"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|6"}}} -->
	<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|3"},"blockGap":"var:preset|spacing|3"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
	<div class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--3)"><!-- wp:avatar {"size":24,"style":{"border":{"radius":"100px","width":"1px"}},"borderColor":"border-secondary"} /-->
	
	<!-- wp:comment-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|font-secondary"}}}},"textColor":"font-secondary","fontSize":"text-xxs"} /-->
	
	<!-- wp:comment-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|font-secondary"}}}},"textColor":"font-secondary","fontSize":"text-xxs"} /-->
	
	<!-- wp:comment-edit-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|font-secondary"}}}},"fontSize":"text-xxs","textColor":"font-tertiary"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"left":"36px"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-left:36px"><!-- wp:comment-content {"textColor":"font-secondary","fontSize":"text-xxs"} /-->
	
	<!-- wp:comment-reply-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|font-secondary"}}},"spacing":{"margin":{"top":"var:preset|spacing|3","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"fontSize":"text-xxs","textColor":"font-tertiary"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	<!-- /wp:comment-template -->
	
	<!-- wp:post-comments-form {"style":{"spacing":{"padding":{"top":"var:preset|spacing|9","bottom":"var:preset|spacing|6"}}},"textColor":"font-secondary","fontSize":"text-m"} /--></div>
	<!-- /wp:comments --></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|default","right":"var:preset|spacing|9","bottom":"var:preset|spacing|14","left":"var:preset|spacing|9"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--default);padding-right:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--14);padding-left:var(--wp--preset--spacing--9)"><!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"wide","className":"gap-l"} -->
	<div class="wp-block-query alignwide gap-l"><!-- wp:group {"textColor":"font-tertiary"} -->
	<div class="wp-block-group has-font-tertiary-color has-text-color"><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|7"}},"typography":{"letterSpacing":"-1.5px"}},"textColor":"font-primary","className":"pb__1","fontSize":"text-xl"} -->
	<h2 class="wp-block-heading pb__1 has-font-primary-color has-text-color has-text-xl-font-size" style="padding-bottom:var(--wp--preset--spacing--7);letter-spacing:-1.5px">Up next</h2>
	<!-- /wp:heading -->
	
	<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|default","bottom":"var:preset|spacing|9"}}},"backgroundColor":"border-secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background is-style-wide" style="margin-top:var(--wp--preset--spacing--default);margin-bottom:var(--wp--preset--spacing--9)"/>
	<!-- /wp:separator -->
	
	<!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|9"}},"textColor":"font-secondary","layout":{"type":"grid","columnCount":3},"fontSize":"text-xxs"} -->
	<!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"24px"}}} /-->
	
	<!-- wp:post-date {"style":{"spacing":{"padding":{"top":"var:preset|spacing|6","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"text-xxs"} /-->
	
	<!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"padding":{"top":"var:preset|spacing|3","bottom":"var:preset|spacing|2"}},"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"-1.75px"},"elements":{"link":{"color":{"text":"var:preset|color|font-primary"}}}},"textColor":"font-primary","fontSize":"text-xxl"} /-->
	
	<!-- wp:post-terms {"term":"category","style":{"spacing":{"padding":{"top":"var:preset|spacing|3","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"text-xxs"} /-->
	<!-- /wp:post-template --></div>
	<!-- /wp:group --></div>
	<!-- /wp:query --></div>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"moog","tagName":"footer"} /-->